<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .book tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .book td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3 th:text="${book.title}">Book title</h3>

<table class="books">
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${book}">
        <td th:text="*{title}">John Doe</td>
        <td th:text="*{author.fullName}">Author</td>
        <td th:text="*{genre.name}">Genre</td>
        <td>
            <a href="edit-book.html" th:href="@{/edit(id=*{id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="javascript:history.back()">Вернуться назад</a>
</body>
</html>
<!--Нужна загрузка комментариев-->
