<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
    <h3>Books:</h3>

    <table class="books">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}" th:object="${book}">
                <td th:text="*{id}">1</td>
                <td><a th:text="*{title}" th:href="@{/books/__*{id}__}">John Doe</a></td>
                <td th:text="*{genre.name}">John Doe</td>
                <td th:text="*{author.fullName}">John Doe</td>
                <td>
                    <a href="books/edit" th:href="@{books/edit(id=*{id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/books/create">Create new book</a>
    <a href="/">Back to index</a>
</body>
</html>