<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book creation form</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h3>Book creation form</h3>

<form id="book-edit-form" th:action="@{/books/create}" th:method="post" action="/books/create-book.html">
    <table class="edit-form">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input
                    name="title"
                    type="text"
                    value=""
                    placeholder="Title"
                    th:placeholder="Title2"></td>
            <td>
                <select name="authorId" id="authorId">
                    <option value="" disabled>Author name</option>
                    <option
                            th:each="author : ${authors}"
                            th:object="${author}"
                            value=""
                            th:value="*{id}"
                            th:text="*{fullName}"></option>
                </select>
            </td>
            <td>
                <select name="genreId" id="genreId">
                    <option value="" disabled>Genre name</option>
                    <option
                            th:each="genre : ${genres}"
                            th:object="${genre}"
                            value=""
                            th:value="*{id}"
                            th:text="*{name}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
    <input type="reset" th:value="Reset">
</form>

<!--<a href="javascript:history.back()">Back</a>-->
<a href="books-list.html" th:href="@{/books}" th:text="Back">Back to list</a>
<a href="/">Back to index</a>
</body>
</html>