<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book editing form</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>
<h3>Book edit form</h3>

<form id="book-edit-form" th:action="@{/books/edit}" th:method="post" action="/books/edit-book.html">
    <table class="edit-form">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${book}">
            <td>
                <input type="hidden" readonly th:value="*{id}" name="id">
                <input
                    name="title"
                    type="text"
                    th:value="*{title}"
                    value=""
                    th:placeholder="Title2"
                    placeholder="Title">
            </td>
            <td>
                <select name="authorId" id="authorId">
                    <option value="" disabled>Author name</option>
                    <option
                            th:each="author : ${authors}"
                            th:object="${author}"
                            value=""
                            th:value="*{id}"
                            th:text="*{fullName}"
                            th:selected="${book.author.id} == *{id}"></option>
                </select>
            </td>
            <td>
                <select name="genreId" id="genreId">
                    <option value="" disabled>Genre name</option>
                    <option
                            th:each="genre : ${genres}"
                            th:object="${genre}"
                            value=""
                            th:value="*{id}"
                            th:text="*{name}"
                            th:selected="${book.genre.id} == *{id}"></option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
    <input type="reset" th:value="Reset">
</form>
<!--<a href="javascript:history.back()">Back</a>-->
<a href="books-list.html" th:href="@{/books}" th:text="Back">Back to list</a>
<a href="/">Back to index</a>
</body>
</html>