<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{main-page-title}">Library</title>
</head>
<body>
    <h3 th:text="#{lang-switcher-header}">Select language</h3>
    <div>
        <div><a href="#" th:href="@{/(lang=en_US)}" th:text="#{en-lang-switch-button-caption}">Language - EN</a></div>
        <div><a href="#" th:href="@{/(lang=ru_RU)}" th:text="#{ru-lang-switch-button-caption}">Language - RU</a></div>
    </div>
    <h1 th:text="#{main-page-title}">Library</h1>
    <a href="/books" th:href="@{/books}" th:text="#{book-list-link-caption}">Book list</a>
    <br><br>
    <a href="/login" th:href="@{/login}" th:text="#{login-control-caption}">Login</a>
    <form action="/logout" method="post"><input type="submit" th:value="#{logout-control-caption}" value="Logout"></form>
</body>
</html>